body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-family: 'Texturina', serif;
}

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  background-color: rgb(187, 161, 211);
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px dashed #000000;
  padding-top: 25px;
}

.past {
  background-color: rgb(161, 159, 159);
  color:  #000000;
}

.present {
  background-color: rgb(238, 99, 99);
  color: #000000;
}

.future {
  background-color: rgb(124, 250, 124);
  color: #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #30a7c2;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} 
